* {
  box-sizing: border-box;
}

.preview__phone--mockup {
  margin-top: 380px;
}

/* Phone Frameset Styling */
.phone__frameset--wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  width: 256px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phone__frameset {
  position: relative;
  width: 100%;
  z-index: 1;
}

.phone__frameset:hover {
  cursor: grab;
}

/* .phone__frameset--img {
  height: 100%;
  min-height: 245.5px;
  object-fit: cover;
  opacity: 1;
  transition: opacity 1.5s ease;
} */

.phone__frameset--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 1.5s ease;
}

/* Image scrolling animation */
.phone__frameset--img.fade-out {
  opacity: 0;
}

.preview__scroll--btns {
  position: relative;
  width: 100%;
  margin-top: 24px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.preview__scroll--btn {
  position: relative; 
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  padding: 8px 16px;;
  z-index: 1000; 
  display: flex;
  flex: 1;
  justify-content: center;
}

.preview__scroll--btn:hover {
  cursor: pointer;
}

.preview__scroll {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

/* New iPad styles */
.preview__ipad--mockup {
  margin-top: 200px; /* Adjusted for larger iPad size */
}

.ipad__frameset--wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  width: 512px; /* Doubled size for iPad */
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ipad__frameset {
  position: relative;
  width: 100%;
  z-index: 1;
}

.ipad__frameset:hover {
  cursor: grab;
}

/* .ipad__frameset--img {
  height: 100%;
  min-height: 682.67px; 
  object-fit: cover;
  opacity: 1;
  transition: opacity 1.5s ease;
} */

.ipad__frameset--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 1.5s ease;
}

/* Image scrolling animation */
.ipad__frameset--img.fade-out {
  opacity: 0;
}