@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  overflow: hidden;
}

.preview__phone--mockup {
  margin-top: 380px;
}

.phone__frameset--wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250.375px;
}

.phone__frameset {
  position: relative;
  width: 100%;
  z-index: 1;
}

.phone__frameset:hover {
  cursor: grab;
}

/* .phone__frameset--img {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 32px;
  width: 92%;
  height: 97%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 1.5s ease;
} */

.phone__frameset--img {
  opacity: 1;
  transition: opacity 1.5s ease;
}

.phone__frameset--img.fade-out {
  opacity: 0;
}

.preview__scroll--btns {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  z-index: 1000;
  position: relative;
}

.preview__scroll--btn {
  z-index: 1000; 
  position: relative; 
  border-radius: 16px;
  border: none;
  background-color: #004F98;
  color: #FFF;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  padding: 8px 16px;
  display: flex;
  flex: 1;
  justify-content: center;
}

.preview__scroll--btn:hover {
  color: #FFF;
  transform: scale(1.08);
}

.preview__scroll {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

/* 

TEMP STLYING

*/
.div1 {
  width: 250.38px;
  height: 507.5px;
  border: 3px solid #4B5563; /* Dynamic color or fallback to gray-600 */
  border-radius: 2.4rem;
  z-index: 10;
  position: relative;
}

.div2 {
  width: 100%;
  height: 100%;
  min-height: 492px;
  border: 9px solid black;
  padding: 2px;
  border-radius: 2.2rem;
}

.div3 {
  background-color: transparent;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: start;
}

.div4 {
  width: 33.333%;
  height: 50%;
  background-color: black;
  border-radius: 9999px; /* Tailwind's rounded-full */
  padding: 0.4rem;
}

.div5 {
  float: right;
  width: 10%;
  border-radius: 9999px; /* Tailwind's rounded-full */
  background-color: #1F2937; /* Tailwind's gray-900 */
  padding: 0.25rem;
}